@import "helpers/variables";
@import "helpers/mixins";
@import "helpers/functions";
@import "vendor/libs";
@import "base/fonts";
@import "base/general";
@import "../blocks/modules";

$light-color: #fff;
$accent-color: #65e496;
$bg-light-color: #f5f6fa;
$bg-dark-color: #44444f;
$gray-color: #9191b5;
$title-color: #44444f;
$font-color: #696980;

body {
    font-family: 'Roboto Slab', serif;
    font-size: 15px;
    line-height: 24px;
}

h3 {
    font-size: 24px;
    letter-spacing: 1.2px;
}

.wrap {
    max-width: 1170px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    @media (max-width: 1020px) {
        padding-left: 20px;
        padding-right: 20px;
    }
}

.page {
    padding-top: 100px;
    padding-bottom: 130px;
    position: relative;
    @media (max-width: 1020px) {
        padding-top: 70px;
        padding-bottom: 120px;
    }
    @media (max-width: 480px) {
        padding-top: 55px;
        padding-bottom: 120px;
    }

    &-gray {
        background-color: $bg-light-color;
        @media (max-width: 480px) {
            padding-bottom: 100px;
        }
    }

    &-events {
        padding-top: 152px; 
    }
    &-carousel {
        padding-top: 69px;
        @media (max-width: 1020px) {
            background-color: $bg-dark-color;
        }
    }
    &__title {
        font-size: 48px;
        text-align: center;
        margin-bottom: 26px;
        margin-top: 3px;
        letter-spacing: 2px;
        color: $title-color;
        line-height: 1.1;
        @media (max-width: 480px) {
            font-size: 42px;
        }
        @media (max-width: 320px) {
            font-size: 35px;
            line-height: 1;
        }
    }
    &__title-books {
        margin-bottom: 24px;
        margin-top: 28px;
        @media (max-width: 480px) {
            font-size: 42px;
        }
    }
    &__subtitle {
        font-size: 18px;
        color: $accent-color;
        text-align: center;
        letter-spacing: 0.9px;
    }
    &__subtitle-books {
        margin-bottom: 26px;
        margin-top: 3px;
    }

    &__btn {
        background: linear-gradient(to top left, #65e49a, #65e4b2);
        color: $light-color;
        font-family: "Roboto Slab", serif;
        font-size: 18px; 
        padding: 14px 32px;
        border-radius: 3px;
        border: none;
        display: block;
        margin: 86px auto;
        letter-spacing: 0.8px;
        box-shadow: 0 2px 0 rgba(101, 228, 125, 0.5);
        cursor: pointer;
        @media (max-width: 1020px) {
            margin: 0 auto;
        }
    }
    &__svg {
        position: absolute;
        top: -16%;
        width: 100%;
        height: 119%;
        z-index: -1;
        @media (max-width: 1020px) {
            display: none;
        }
    }
}

.page-main {
    background-image: url("../img/main_bg.png");
    background-repeat: no-repeat;
    background-size: cover; 
    color: $light-color;
    padding-bottom: 157px;
    @media (max-width:1020px) {
        padding-bottom: 60px;
    }
}

.page-author {
    padding-top: 161px;
    @media (max-width:1020px) {
        padding-top: 130px;
        padding-bottom: 80px;
    }
    @media (max-width: 480px) {
        padding-top: 100px;
        padding-bottom: 70px;
    }
}

.page-books {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media (max-width: 480px) {
        padding-top: 45px;
    }
}

.page-blog {
    background-color: $bg-light-color;
    margin-top: -96px;
    padding-top: 100px;
    padding-bottom: 20px;
    @media (max-width:1020px) {
        padding-top: 90px;
        padding-bottom: 40px;
    }
    @media (max-width: 480px) {
        padding-top: 100px;
    }
}

.page-letter {
    padding-top: 80px;
    padding-bottom: 150px;
    @media (max-width:900px) {
        padding-top: 80px;
        padding-bottom: 160px;
    }
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1170px;
    margin: 0 auto;
    padding: 38px 15px 166px 15px;
    @media (max-width:1020px) {
        padding-bottom: 100px;
    }
    @media (max-width: 920px) {
        flex-direction: column;
        padding-bottom: 50px;
    }
    @media (max-width: 480px) {
        flex-direction: row;
        justify-content: space-between;
    }
    &__logo {
        background-image: url("../img/logo.png");
        background-repeat: no-repeat;
        display: block;
        width: 137px;
        height: 28px;
        margin-top: -6px;
    }
    &-list {
        list-style: none;
        display: flex;
        justify-content: flex-end;
        font-family: "Open Sans", sans-serif;
        margin-top: 10px;
        @media (max-width: 780px) {
            justify-content: center;
            flex-wrap: wrap;
        }
        &__item {
            margin-left: 23px;
            padding-bottom: 3px;
            border-bottom: 3px solid transparent;
            transition: 0.3s;
            @media (max-width: 480px) {
                border-bottom: 2px solid transparent;
            }
            &:hover {
                border-bottom: 3px solid $accent-color;
                @media (max-width: 480px) {
                    border-bottom: 2px solid $accent-color;
                }
            }
        }
        &__item.active {
            border-bottom: 3px solid $accent-color;
            @media (max-width: 480px) {
                border-bottom: 2px solid $accent-color;
            }
        }
        &__link {
            color: $light-color;
            text-decoration: none;
            letter-spacing: 1px;
        }
    }
}

.block-text {
    flex-basis: calc(100% - 500px);
    @media (max-width: 1020px) {
        flex-basis: calc(93% - 315px);
    }
    &--width {
        flex-basis: calc(93% - 517px);
        @media (max-width: 1020px) {
            flex-basis: calc(93% - 315px);
        }
    }
    &--main {
        @media (max-width:1020px) {
            text-align: center;
        }
    }
    &--author {
        @media (max-width:1020px) {
            padding-left: 60px;
            margin-top: -30px;
        }
        @media (max-width: 850px) {
            padding-left: 0px;
        } 
    }
    &__name {
        font-family: "Open Sans", sans-serif;
        font-size: 18px;
        letter-spacing: 0.9px;
        margin-top: 12px;
        color: $light-color;
    }
    &__name-events {
        margin-top: -5px;
        margin-left: 3px;
        color: $font-color;
    }
    &__name-author {
        margin-top: 16px;
        margin-left: 1px;
        color: $font-color;
    }
    &__title {
        font-size: 48px;
        font-weight: 700;
        line-height: 53px;
        letter-spacing: 1.8px;
        margin-bottom: 39px;
        margin-top: 44px;
        color: $light-color;
        @media (max-width:1020px) {
            margin-top: 10px;
            margin-bottom: 10px;
        }
        @media (max-width: 480px) {
            font-size: 42px;
        }
        @media (max-width: 320px) {
            font-size: 35px;
            line-height: 1;
        }
        span {
            display: block;
            color: $accent-color;
            font-size: 18px;
            letter-spacing: 0.9px;
            margin-top: 24px;
            line-height: 23px;
        }
    }
    &__title-events {
        margin-top: 33px;
        color: $title-color;
        span {
            margin-left: 3px;
        }
    }
    &__title-author {
        margin-bottom: 36px;
        margin-top: 32px;
        color: $title-color;
    }
    &__description {
        font-family: "Open Sans";
        font-size: 15px;
        line-height: 24px;
        letter-spacing: 0.75px;
        margin-top: 20px;
        width: 88%;
        color: $light-color;
        @media (max-width:1020px) {
            padding-left: 0px;
            margin: 20px auto;
        }
    }
    &__description-author {
        color: $font-color;
        font-size: 15px;
        padding-right: 70px;
        padding-bottom: 4px;
        @media (max-width:1020px) {
            padding-left: 0px;
        }
        @media (max-width: 850px) {
            text-align: center;
            padding-right: 0px;
            margin: 15px auto 20px;
        }
        
    }
    &__btn {
        display: block;
        background: linear-gradient(to top left, #65e49a, #65e4b2);
        color: $light-color;
        font-size: 18px;
        text-decoration: none;
        max-width: 250px;
        border-radius: 3px;
        text-align: center;
        font-size: 18px;
        margin-top: 48px;
        padding: 13px 0;
        letter-spacing: 0.7px;
        margin-bottom: 14px;
        box-shadow: 0 2px 0 rgba(101, 228, 125, 0.5);
        @media (max-width:1020px) {
            margin: 40px auto 10px;
        }
    }
    &__btn-author {
        margin-top: 44px;
        max-width: 238px;
        @media (max-width:1020px) {
            margin: 50px 0 0 0;
        }
        @media (max-width: 850px) {
            margin: 44px auto;
        }
    }
    &-item {
        margin-bottom: 57px;
        color: $font-color;
        &__date {
            font-size: 15px;
            font-family: "Open Sans", sans-serif;
            letter-spacing: 0.8px;
            margin-bottom: 4px;
        }
        &__title {
            font-size: 18px;
            letter-spacing: 0.9px;
            margin-bottom: 16px;
            color: $title-color;
            font-weight: 700;
        }
        &__desc {
            font-size: 15px;
            font-family: "Open Sans", sans-serif;
            letter-spacing: 0.75px;
        }
        &__btn {
            display: block;
            background: linear-gradient(to top left, #65e49a, #65e4b2);
            color: $light-color;
            font-size: 18px;
            text-decoration: none;
            max-width: 135px;
            border-radius: 3px;
            text-align: center;
            font-size: 18px;
            padding: 11px 0px 13px 3px;
            letter-spacing: 0.7px;
            margin-top: 25px;
            box-shadow: 0 2px 0 rgba(101, 228, 125, 0.5);
            @media (max-width: 850px) {
                text-align: center;
                margin: 25px auto;
            }
        }
    }
}

.block-book {
    display: flex;
    justify-content: space-between;
    @media (max-width:1020px) {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }
    &-demo {
        display: flex;
        position: relative;	       
        width: 100%;
        height: 643px;	        
        background-image: url("../img/bookcover-large.svg");	       
        background-repeat: no-repeat;	   
        flex-basis: 500px;	        
        margin-top: 13px;       

        &--main {
            @media (max-width: 1020px) {
                width: 447px;
                height: 643px;
                flex-basis: 650px;
                margin: 29px auto;
            }
            @media (max-width: 500px) {
                background-image: url("../img/bookcover-small.svg");
                width: 269px;
                height: 409px;
                flex-basis: 409px;; 
            } 
        }
        &__title {
            position: absolute;
            font-size: 36px;
            text-transform: uppercase;
            top: 118px;
            left: 132px;
            letter-spacing: 1.1px;
            @media (max-width: 500px) {
                font-size: 24px;
                top: 60px;
                left: 60px;
            } 
            span {
                font-family: "Open Sans", sans-serif;
                font-size: 14px;
                color: $accent-color;
                display: block;
                text-transform: initial;
                margin-top: 10px;
                letter-spacing: 0.6px;
            }
        }
        &__title-little {
            position: absolute;
            text-transform: uppercase;
            top: 71px;
            left: 74px;
            letter-spacing: 1px;
            font-family: "Roboto Slab", serif;
            font-size: 24px;
            font-weight: 700;
            color: $light-color;
            span {
                font-family: "Open Sans", sans-serif;
                display: block;
                text-transform: initial;
                color: $accent-color;
                font-size: 12px;
                margin-top: 7px;
                margin-left: -4px;
                font-weight: 400;
            }
        }
        &__author {
            position: absolute;
            bottom: 43px;
            left: 83px;
            letter-spacing: 0.9px;
            font-family: "Open Sans", sans-serif;
            font-size: 14px;
            color: $accent-color;
            @media (max-width: 500px) {
                font-size: 12px;
                bottom: 25px;
                left: 60px;
            } 
        }
        &__author-little {
            position: absolute;
            font-family: "Open Sans", sans-serif;
            color: $accent-color;
            bottom: 105px;
            left: 81px;
            letter-spacing: 0.6px;
            font-size: 12px;
        }
    }
    &-demo-little {
        background-image: url("../img/bookcover-small.svg"); 
        width: 269px;
        height: 409px;
    }
    small {
        font-family: "Open Sans", sans-serif;
        font-size: 12px;
        font-style: italic;
        letter-spacing: 0.5px;
        @media (max-width:1020px) {
            margin: 0px;
        }
    }
}

.block-author {
    display: flex;
    justify-content: space-between;
    @media (max-width: 850px) {
        flex-direction: column-reverse;
        text-align: center;
    }
}

.block-ava {
    position: relative;
    @media (max-width: 850px) {
        position: relative;
        max-width: 356px;
        margin: 0 auto 80px;
    }
    &__svg {
        position: absolute;
        z-index: -1;
        right: 0;
        @media (max-width: 1020px) {
            width: 300px;
            height: 412px;
        }
        @media (max-width: 350px) {
            width: 250px;
            height: 340px;
            right: 20px;
        }
    }
    &__svg--left {
        right: inherit;
        left: 0;
        @media (max-width: 350px) {
            width: 250px;
            left: -10px;
        }
    }
    &__img--left {
        margin-top: 49px;
        margin-left: 51px;
        margin-right: 0;
        @media (max-width: 350px) {
            width: 220px;
            margin-left: 15px;
        }
    }
    &__img {
        margin-top: 47px;
        margin-right: 44px;
        @media (max-width: 1020px) {
            width: 300px;
        }
        @media (max-width: 350px) {
            width: 250px;
        }
    }
}

.block-counter {
    display: flex;
    justify-content: space-between;
    margin: 160px 62px 100px 83px;
    @media (max-width: 1020px) {
        margin: 100px 62px 0px 83px;
    }
    @media (max-width: 850px) {
        margin-top: 50px;
        margin-bottom: 0px;
    } 
    @media (max-width: 750px) {
        flex-direction: column;
        margin: 0 auto;
    }
    p {
        font-family: "Open Sans", sans-serif;
        text-align: center;
        font-size: 18px;
        color: $font-color;
        letter-spacing: 0.9px;
        @media (max-width: 850px) {
            margin-bottom: 30px;
        }

        &:nth-child(2) {
            margin-left: 19px;
            @media (max-width: 850px) {
                margin-left: 0px;
                margin-bottom: 50px;
            } 
        }
        span {
            font-family: "Roboto Slab", serif;
            display: block;
            font-weight: 100;
            font-size: 80px;
            color: $accent-color;
            margin-bottom: 45px;
            letter-spacing: 2.7px;  
            @media (max-width: 850px) {
                font-size: 60px;
            } 
        }
    }
}

.block-about {
    display: flex;
    justify-content: space-between;
    margin-top: 82px;
    @media (max-width: 1020px) {
        max-width: 750px;
        margin: 82px auto 0;
        flex-direction: column;
    }
    &-text__title {
        margin-bottom: 18px;
        margin-left: 2px;
    }
    p {
        font-family: "Open Sans", sans-serif; 
        letter-spacing: 0.8px;
        margin-bottom: 13px;
    }
    &-text {
        flex-basis: calc(100% - 690px);
        @media (max-width: 1020px) {
            flex-basis: 100%;
        }
        &__title {
            color: $title-color;
        }
        &__article {
            color: $font-color;
        }
    }
    &-table {
        flex-basis: 585px;
        @media (max-width: 1020px) {
            flex-basis: 100%;
            margin-top: 40px;
        }
        &__title {
            color: $title-color;
            margin-left: 14px;
        }
        &__button {
            color: #fff;
            background: linear-gradient(to top left, #65e49a, #65e4b2);
            margin-top: 28px;
            padding: 13px 45px;
            border-radius: 3px;
            box-shadow: 0 2px 0 rgba(101, 228, 125, 0.5);
            border: none;
            font-family: "Roboto Slab", serif;
            font-size: 18px;
            margin-left: 17px;
            cursor: pointer;
            &:focus {
                outline: none;
            }
        }
        &__list {
            margin: 25px 0 0 14px;
            padding: 0;
            color: $font-color;
            counter-reset: list;
            column-count: 2;
            column-gap: 29px;
            @media (max-width: 630px) {
                column-count: 1;
            }
            &>li {
                position: relative;
                padding-left: 36px;
                counter-increment: list;
                list-style-type: none;
                margin-bottom: 8px;
                letter-spacing: 0.5px;
                &::before {
                    content: counter(list) ". ";
                }
                &::after {
                    content: "+";
                    font-family: "Open Sans", sans-serif; 
                    font-size: 15px;
                    line-height: 22px;
                    position: absolute;
                    left: 0;
                    top: calc(50% - 10px);
                    background-color: #5189a0;
                    color: $light-color;
                    padding: 0px 7px;
                }
            }
        }
        &__list--next {
            display: none;
            counter-increment: list 10;
            position: relative;
            &::before {
                content: "";
                display: block;
                position: absolute;
                top: -16px;
                width: 100px;
                height: 2px;
                background-color: #5189a0;

            }
        }
    }
    &-link {
        font-size: 18px;
        color: $title-color;
        font-weight: 700;
        display: flex;
        align-items: center;
        &__title {
            margin-right: 22px;
            margin-left: 4px;
        }
        &__list {
            list-style: none;
            display: flex;
            &-item {
                margin-right: 17px;
                margin-top: 5px;
                &>a {
                    font-size: 18px;
                    color: $accent-color;
                }
            }
        }
    }
}

.block-morebooks {
    display: flex;
    justify-content: space-between;
    margin-top: 71px; 
    @media (max-width: 1020px) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 50px; 
    }

    &-example {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 31.5%;
    @media (max-width: 1020px) {
        width: 100%;
    }
    }
    &-text {
        font-family: "Open Sans", sans-serif;
        font-size: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: -55px;
        &__title {
            font-family: "Roboto Slab", serif;
            font-size: 24px;
            font-weight: 700;
            color: $title-color;
            @media (max-width: 1020px) {
                margin-bottom: 10px;
            }
        }
        &__desc {
            text-align: center;
            letter-spacing: 0.8px;
            margin-top: 17px;
            color: $font-color;
            @media (max-width: 1020px) {
                margin: 0 auto 17px;
            }
        }
        &__more {
            color: $accent-color;
            text-transform: uppercase;
            text-decoration: none;
            font-weight: 700;
            letter-spacing: 1px;
            transition: 0.3s;
            @media (max-width: 1020px) {
                display: block;
                margin: 0 auto 30px;
                max-width: 120px;
            }
        }
    }
}

.block-blog {
    display: flex;
    justify-content: space-between;
    margin-top: 83px;
    @media (max-width: 900px) {
        flex-direction: column;
        max-width: 550px;
        margin: 60px auto 0;
    }
    h4 {
        font-size: 18px;
        color: $title-color;
        margin-top: 16px;
        letter-spacing: 0.9px;
        font-weight: 700;
    }
    &-img {
        width: 100%;
        height: 224px;
        overflow: hidden;
        position: relative;
        img {
            width: 100%;
            height: 224px;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            object-fit: cover;
        }
    }
    &-item {
        flex-basis: 32%;
        margin-right: 31px;
        @media (max-width: 900px) {
            margin-bottom: 40px;
            margin: 0 auto;
            margin-bottom: 20px;
        }
    }
    &-info {
        font-size: 15px;
        color: #80809b;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-top: -12px;
        letter-spacing: 0.75px;
        flex-wrap: wrap;
        a {
            color: $accent-color;
            text-decoration: none;
            @media (max-width: 1020px) {
                margin-bottom: 20px;
            }
            @media (max-width: 900px) {
                margin-bottom: 0px;
            }
        }
    }
    &__desc {
        font-size: 15px;
        font-family: "Open Sans", sans-serif;
        color: $font-color;
        margin-top: -3px;
        letter-spacing: 0.7px;
        @media (max-width: 900px) {
            text-align: center;
            margin-top: 10px;
        }
    }
    & + .page__btn--blog {
        display: block;
        margin: 69px auto;
        padding: 14px 28px;
        max-width: 265px;
        @media (max-width: 900px) {
            margin: 20px auto 60px;
        }
    }
}

.block-letter {
    display: flex;
    justify-content: space-between;
    @media (max-width: 1020px) {
        flex-direction: column;
        text-align: center;
    }
    &-item {
        flex-basis: 49%;
        @media (max-width: 1020px) {
            flex-basis: 100%;
        }
    }
    &__title {
        font-size: 48px;
        margin-bottom: 23px;
        letter-spacing: 1.9px;
        margin-top: 8px;
        color: $title-color;
        font-weight: 700;
        line-height: 1.1;
        @media (max-width: 320px) {
            font-size: 35px;
            line-height: 1;
        }
    }
    &__text {
        font-size: 15px;
        font-family: "Open Sans", sans-serif;
        letter-spacing: 0.75px;
        color: $font-color;
        @media (max-width: 1020px) {
            margin-bottom: 40px;
        }
    }
    &__input {
        width: 100%;
        background-color: $bg-dark-color;
        border: none;
        color: $gray-color;
        padding: 15px 30px;
        box-sizing: border-box;
        border-radius: 3px;
        letter-spacing: 0.6px;
        @media (max-width: 1020px) {
            max-width: 500px;
        }
        &:focus {
            outline: none;
        }
        &::placeholder {
            color: $gray-color;
        }
    }
    &__btn {
        display: block;
        background: linear-gradient(to top left, #65e49a, #65e4b2);
        color: $light-color;
        font-size: 18px;
        text-decoration: none;
        width: 100%;
        border-radius: 3px;
        border: none;
        text-align: center;
        font-size: 18px;
        margin-top: 48px;
        padding: 13px 0px 13px 4px;
        letter-spacing: 0.7px;
        margin-top: 22px;
        box-shadow: 0 2px 0 rgba(101, 228, 125, 0.5);
        cursor: pointer;
        @media (max-width: 1020px) {
            max-width: 500px;
            margin: 22px auto;
        }
        &:focus {
            outline: none;
        }
    }
}

.footer {
    background-color: $bg-dark-color;
    color: $gray-color;
    padding: 90px 0 90px;
    margin-top: -91px;
    @media (max-width: 1020px) {
        padding: 65px 0 40px;
    }
}

.block-footer {
    display: flex;
    justify-content: space-between;
    @media (max-width: 900px) {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    &>div {
        flex-basis: 23%;
        font-family: "Open Sans", sans-serif;
        &:first-child {
            flex-basis: 31%;
        }
        @media (max-width: 900px) {
            margin-bottom: 50px;
            align-items: center;
        }
    }
    &__logo {
        display: block;
        width: 137px;
        height: 28px;
        background-image: url(../img/logoFooter.png);
        @media (max-width: 900px) {
            margin: 0 auto;
        }
    }
    &__desc {
        margin-top: 33px;
        letter-spacing: 0.55px;
        margin-bottom: -10px;
        @media (max-width: 900px) {
            margin-top: 25px;
        }
    }
    &__title {
       color: $accent-color;
       font-size: 18px;
       text-transform: uppercase;
       margin-top: 15px;
       margin-bottom: 20px;
       letter-spacing: 1.7px;
       margin-left: 2px;
       &--contacts {
            letter-spacing: 1.2px;
            margin-left: -4px;
       }
    }
    &__list {
        list-style-type: none;
        font-family: "Open Sans", sans-serif;
        padding-left: 0;
        letter-spacing: 1.7px;
        margin-left: 2px;
        &--links {
            &>li {
                margin-bottom: 4px;
                letter-spacing: 0.6px;
            }  
        }
        &--contacts {
            margin-left: -4px;
            letter-spacing: 0.7px;
            margin-bottom: 11px;
        }
    }
    &__social {
        display: flex;
        list-style-type: none;
        padding-left: 0;
        @media (max-width: 900px) {
            margin: 0 0 0 50px;
         }
        &>li {
            margin-right: 18px;
            margin-left: -4px;
            &>a {
                color: $accent-color;
            }
        }
    }
}

.block-carousel {
    text-align: center;
    h3 {
        color: $accent-color;
        margin-bottom: 4px;
    }
    &__desc {
        color: $gray-color;
        font-family: "Open Sans", sans-serif;
        max-width: 760px;
        margin: 0 auto;
        line-height: 27px;
        letter-spacing: 0.75px;
    }
    &__expert {
        margin-bottom: 32px;
    }
    &-ava {
        display: block;
        margin: 0 auto 27px;
        position: relative;
        width: 152px;
        height: 152px;
    }
    &-bq {
        position: absolute;
        display: block;
        background-image: url(../img/bq.png);
        background-repeat: no-repeat;
        width: 48px;
        height: 42px;
        top: 0;
        right: -15px; 
    } 
    &-thumb {
        display: block;
        margin: 0 auto 0;
        position: relative;
        overflow: hidden;
        width: 152px;
        height: 152px;
        border-radius: 100%;
        img {
            width: 152px;
            height: 152px;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            object-fit: cover;
        }
    }
}

.slick-dots {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    &>li {
        margin: 0 5px;
        &>button {
            text-indent: -9999px;
            width: 8px;
            height: 8px;
            border: none;
            border-radius: 100%;
            background-color: $accent-color;
            line-height: 0;
            font-size: 0;
            cursor: pointer;
            padding: 5px;
            margin-top: 48px;
            &:focus {
                outline: none;
            }
        }
    }
    &>li.slick-active {
        &>button {
            width: 37px;
            border-radius: 10px;
        }
    }
}

.show-menu-btn, .hide-menu-btn {
    cursor: pointer;
    display: none; 
}

#chk {
    position: absolute;
    visibility: hidden;
    z-index: -1111;
}

@media (max-width: 480px) {
    .show-menu-btn {
        display: block;
        position: absolute;
        top: 25px;
        right: 18px;
    }
    .header-list {
        position: fixed;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        background: #333;
        right: -100%;
        top: -10px;
        text-align: center;
        line-height: normal;
        transition: 0.7s;
        z-index: 1;
        &__item {
            display: block;
            padding: 10px 5px; 
            width: 100px;
            margin: 0 auto;
        }
    }

    .hide-menu-btn { 
        display: block;
        position: absolute;
        top: 20px;
        right: 20px; 
    }
    #chk:checked ~ .header-list { 
        right: 0;
    } 
}